[Desktop Entry]
Type=Application
Name=OpenTyrian2000
Comment=An arcade-style shoot 'em up
Icon=opentyrian2000
Categories=Game;ArcadeGame;
TryExec=opentyrian2000
Exec=opentyrian2000
Terminal=false

